$green: #0da21b;
$white-primary: #ffffff;
$red-primary: #ff2e00;

$dark-blue: #000000;
$text-color: #000000;
$sidebar-color: linear-gradient(
  180deg,
  #d3f2ff 0%,
  rgba(247, 247, 247, 0) 100%
);
