@import "./partial/mixin";
@import "./partial/components.scss";
@import "./partial/fonts.scss";
@import "./partial/framework.scss";
@import "./partial/reset.scss";
@import "./partial/variables.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

// a {
//   color: inherit;
//   text-decoration: none;
// }

// * {
//   box-sizing: border-box;
// }
